.git/*
env/
venv/
.venv
.venv/
.vscode/

get_pip.py
.env
__pycache__/
*.py[cod]

dump.json
posts/static.7z

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

media/

db.sqlite3
